<!DOCTYPE html>
<html>
<head>
    <style>
    canvas {
        width: 600px !important;
        height: 300px !important;
        border: 1px solid black;
    }
</style>
    <title>Weather</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function toggleButton() {
            const cityName = document.getElementById("cityInput");
            console.log(cityName);
            const countryID = document.getElementById("countryCode");
            const submitButton = document.getElementById("submitButton");
            submitButton.disabled = cityName.value.trim() === "" || countryID.value.trim() === "";
        }
    </script>
</head>
<body>

<form method="post">
    <input id="cityInput" name="city" onkeyup= "toggleButton()" placeholder="City">
    <input id="countryCode" name="country" onkeyup= "toggleButton()" minlength="2" maxlength="2" placeholder="US">
    <button id="submitButton" disabled type="submit">Download weather</button>
</form>

<p>Input the city name and ISO two letter country code.</p>

{% if weather %}

<canvas id="chart_temperature" style="border:1px solid"></canvas>
<canvas id="chart_wind"></canvas>
<canvas id="chart_humidity"></canvas>
<script>

const labels = {{ weather.time|tojson }};
const temps = {{ weather.temperature_2m|tojson }};
const wind = {{ weather.wind_speed_10m|tojson }};
const humidity = {{ weather.relative_humidity_2m|tojson }};

new Chart(document.getElementById("chart_temperature"), {
    type: "bar",
    data: {
        labels: labels,
        datasets: [{
            label: "Temperature",
            data: temps
        }]
    },
     options: {
        backgroundColor:'rgba(158, 0, 135, 0.5)'
     }
});

new Chart(document.getElementById("chart_wind"), {
    type: "bar",
    data: {
        labels: labels,
        datasets: [{
            label: "Wind speed",
            data: wind
        }]
    },
     options: {
        backgroundColor:'rgba(158, 0, 135, 0.5)'
     }
});
new Chart(document.getElementById("chart_humidity"), {
    type: "bar",
    data: {
        labels: labels,
        datasets: [{
            label: "Humidity",
            data: humidity
        }]
    },
     options: {
        backgroundColor:'rgba(158, 0, 135, 0.5)'
     }
});

</script>
{% else %}
    Brak danych.


{% endif %}

</body>
</html>